    <h2>生徒検索</h2>
    <table>       
      <form name="todouhuken" style="width:245px">
        <tr>
          <td class="human_profile">都道府県</td>
          <td><input type="text"></td>
          
        </tr>
        
        <tr>
          <td class="human_profile">市町村</td>        
          <td><input type="text"></td>
          
        </tr>
      
        <tr>
          <td class="human_profile">性別</td>
          <td>
            <input type="checkbox"><label>男性</label>
            <input type="checkbox"><label>女性</label>
             ※複数選択可能
          </td>
        </tr>
        
        <tr>
          <td class="human_profile">在籍学校</td>
          <td>
            <input type="checkbox"><label>小学校</label>
            <input type="checkbox"><label>中学校</label>
            <input type="checkbox"><label>高校</label>
             ※複数選択可能            
          </td>

        </tr>

    </form>
      
    </table>

    <h1>生徒の一覧</h1>
    <table>
        <tr>
          <td rowspan="2">
          <%= link_to teacher_student_path(1) do %>  
            <img src="https://i2.wp.com/sengoku-history.com/wp-content/uploads/2018/05/237daccc059db4e6d624afcab8e62197.jpg?fit=348%2C342&ssl=1" class="photo_profile" width= 100px></img>
          <% end %>          
          </td>
          <td class="human_profile">名前</td>
          <td class="human_profile">性別</td>
          <td class="human_profile">年齢</td>
          <td class="human_profile">都道府県</td>
          <td class="human_profile">在籍学校名</td>
          <td class="human_profile">住所</td>
        </tr>
        <tr>
          <td>徳川家康</td>
          <td>男</td>
          <td>17歳</td>
          <td>愛知県</td>
          <td>岡崎高校2年</td>
          <td>岡崎市</td>
        </tr>
        <tr>
          <td colspan="7" class="profile">中学生のころ天下統一をした経験があります。</td>
        </tr>
        
        <tr>
          <td rowspan="2"><a><img src="https://upload.wikimedia.org/wikipedia/commons/4/4c/Sakamoto_Ryoma.jpg" class="photo_profile" width= 100px></img></a></td>
          <td class="human_profile">名前</td>
          <td class="human_profile">性別</td>
          <td class="human_profile">年齢</td>
          <td class="human_profile">都道府県</td>
          <td class="human_profile">在籍学校名</td>
          <td class="human_profile">住所</td>
        </tr>
        <tr>
          <td>坂本龍馬</td>
          <td>男</td>
          <td>14歳</td>
          <td>高知県</td>
          <td>土佐中学校2年</td>
          <td>高知市</td>
          
        </tr>
        <tr>
          <td colspan="7" class="profile">去年、西郷隆盛と薩長同盟を結びました。</td>
        </tr>
        
        <tr>
          <td rowspan="2"><a><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2f/Uesugi_Kenshin.jpg/250px-Uesugi_Kenshin.jpg" class="photo_profile" width= 100px></img></a></td>
          <td class="human_profile">名前</td>
          <td class="human_profile">性別</td>
          <td class="human_profile">年齢</td>
          <td class="human_profile">都道府県</td>
          <td class="human_profile">在籍学校名</td>
          <td class="human_profile">住所</td>
        </tr>
        <tr>
          <td>上杉謙信</td>
          <td>男</td>
          <td>14歳</td>
          <td>新潟県</td>
          <td>米沢中学校3年</td>
          <td>米沢市</td>
        </tr>   
        <tr>
          <td colspan="7" class="profile" >小学5年生から武田信玄との合戦を続けています。得意な教科は国語と社会で、苦手な教科は理科と英語と数学です。</td>
        </tr>
    </table>