<%= link_to "問い合わせはこちらから", new_teacher_inquiry_path %>
    
    <h1>過去の問い合わせ</h1>
    <div>
      <h2>先生からの問い合わせ</h2>
      <ul>
        <li>
          <div>
            <a href="#">このサービスで料金は発生しますか？</a>
          </div>
        </li>
        <li>
          <div>
            <a href="#">授業をして合わないと感じた場合、家庭教師の断ることはできますか？</a>
          </div>
        </li>
        <li>
          <div>
            <a href="#">複数人生徒を持つことは可能ですか？</a>
          </div>
        </li>
      </ul>
    </div>
    
    <diV>
      <h2>生徒からの問い合わせ</h2>
      <ul>
        <li>
          <div>
            <a href="#">このサービスで料金は発生しますか？</a>
          </div>
        </li>
        <li>
          <div>
            <a href="#">授業をして合わないと感じた場合、家庭教師の断ることはできますか？</a>
          </div>
        </li>
        <li>
          <div>
            <a href="#">複数人先生を持つことは可能ですか？</a>
          </div>
        </li>
    </diV>