<div class="top_div">
    <div>
        <p class="top_p_1">人間性でマッチングする家庭教師</p>
        <p class="top_p_2">
            「勉強はわかりやすいけど、先生と話がしづらい」「家庭教師やってみたけど、生徒との相性が合わない」</br>
            そんな経験ありませんか？このサービスはそういった先生と生徒の人間的な相性を限りなくなくすための家庭教師専用マッチングサービスです。
        </p>
    </div>
    
    <div>
        <%= image_tag "/home_teacher.jpeg", class:"top_image_1" %>
    </div>
    
</div>