<%= link_to "問い合わせはこちらから", new_student_inquiry_path %>
    
    <h1>過去の問い合わせ</h1>
    <div>
      <% if @inquiries.empty? %>
        <p class="inquiries_p">問い合わせはありません</p>
      <% else %>
        <% @inquiries.each do |inquiry| %>
          <%= link_to student_inquiry_path(inquiry.id) do %>
            <%= inquiry.title %>
          <% end %>
        <% end %>  
      <% end %>
    </diV>