    <h1>問い合わせ</h1>
    <div>
        <table>
            <tr>
                <td colspan="2">タイトル</td>
                <td><input type="text" style="width: -webkit-fill-available;" /></td>
            </tr>
            <tr>
                <td colspan="2">内容</td>
                <td><textarea name="student_self_introduction" cols="50" rows="15" maxlength="30" style="resize: none;"></textarea></td>
            </tr>
        </table>
    </div>