  <div class="chat">
    <h4 style="text-align:left;">徳川家康さん</h4>
    <div class="chat1 clearfix">
        <div class="logo">
          <img src="https://i2.wp.com/sengoku-history.com/wp-content/uploads/2018/05/237daccc059db4e6d624afcab8e62197.jpg?fit=348%2C342&ssl=1" class="logo"></img>
        </div>
        <div class="comment">
            <p class="messages">こんにちは。楽しく授業ができたらうれしいです。aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</p>
            <div class="time-box">
                <span class="time">2021/10/30 17：00</span>
            </div> 
        </div>
           
    </div>    
    <div class="chat2 clearfix">
        <div class="comment">
            <p class="messages">aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaassssssssssssssssssssssssssssssssssssssssssssss</p>
            <div class="time-box" style="text-align: right;">
                <time class="time">2021/10/30 17：15</time>
            </div>
        </div>
    </div>
    <diV>
      <form action="form.php" method="post">
        <div>
          <label for="message"></label><br>
          <input type="text" placeholder="メッセージを入力..." />
          <button type="submit">送信</button>
        </div>
      </form>
    </diV>
  </div> 