<div>
    <div>
        <h2>野口英世さんを教師に決定しますか？</h2>
    </div>
    <div style="text-align: center;">
            <img src="https://kilosophy.com/wp-content/uploads/2020/03/Noguchi_Hideyo-1.jpg" class="decision_img"></img>
    </div>
    <div style="text-align: center;">
        <button class="decision_button">はい</button><button class="decision_button">いいえ</button>
    </div>
</div>